*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.section-container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-container img{
    height: 480px;
    width: auto;
}

.background-section{
  
}

.section-one{
    background-image: url(/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;    
}

.section-two{
    background-image: url(/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
}

.card-container{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 25px 33px;
    width: 450px;
    margin-top: 12rem;
}

form{
    display: grid;
}

footer{
    height: 200px;
    padding: 25px;
    text-align: center;
    background-color:#000000 ;
    color: #ffffff;
}

input{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}